.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 19px 29px;
  box-shadow: 0px 20px 16px 8px rgb(2 81 158 / 7%);
  background-color: #1db7cc;
}

#haski {
  height: 50px;
  width: auto;
}

button {
  padding-bottom: initial;
  font-size: x-large;
  background-color: cyan;
  border-radius: inherit;
}

h1 {
  font-family: cursive;
  font-size: xx-large;
  color: cornflowerblue;
  text-align: center;
  margin-bottom: revert;
}

p {
  font-family: -webkit-pictograph;
  line-height: 1.55;
  font-weight: bolder;
}

footer {
  background-color: indigo;
  padding-left: 20px;
  margin: auto;
  width: 52%;
  border: 5px solid #00bcd4;
  padding: 7px;
}

ul {
  display: flex;
  flex-direction: row-reverse;
  list-style-type: square;
}

body {
  background-color: rgb(150, 255, 80);
}